@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

gridnav {
  display: grid;
  grid-template-columns: 230px 1fr;
  background-color: #171d25;
  padding: 33px 240px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
gridnav > h1 {
  margin: 0;
  color: white;
}
nav > * > a {
  text-decoration: none;
  color: white;
  margin: 0 7px;
  position: relative;
}

nav > * > a:hover {
  color: #1a9fff;
  /* ?      tirei                        text-decoration: underline #1a9fff 2.7px;*/
}
nav > * >a::after{
  content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #1a9fff;
        transition: width 0.35s;
        position: absolute;
        bottom: 0;
        left: 0;
}

nav > * > a:hover::after{
  width: 100%;
}

a:hover + span {
  display: block !important;
}
#hoverzinho {
  position: absolute;
  background-color: #3d4450;
  width: 150px;
  display: none;
  z-index: 1;
}
#hoverzinho:hover {
  display: block;
}

.trecoco {
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0;
  padding: 10px 10px 10px 15px;
}
.trecoco:hover {
  color: #3d4450;
  background-color: white;
}
#flexcaixa {
  display: flex;
  justify-content: flex-start;
}
