@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    width: 100%;
    background: rgb(206, 205, 205)
}
*{font-family: "Poppins", sans-serif;}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#pad{
    padding: 0 0 20px 0;
}
.btnver{
    background: #9E34CA;
    text-align: center;
    padding: 15px;
    color: white;
    transition: opacity 0.3s ease-in-out;
    margin: 0 0 15px 0;
}
.btnver:hover{
    opacity: 80%;
}
#bold{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
#rem{
    font-size: 2.5rem;
}
.meio{
    margin: 7% 0 0 0;
}
#voltar{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}